.dash-num {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem;

    @media only screen and (max-width: 750px){
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media only screen and (max-width: 400px){
        flex-wrap: nowrap;
        justify-content: stretch;
        flex-direction: column;
    }
    
    &__item {
        flex:1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        // min-height: 18rem;
        padding: 0.7rem 2rem 1rem 1rem;
        box-shadow: .1rem .1rem 1rem rgba(0,0,0,.1);
        border-radius: 5px;

        transition: all .3s;

        @media only screen and (max-width: 750px){
            flex: 0 0 48%;
            margin-bottom: 4rem;
        }


        &:not(:last-child){
            margin-right: 2.5rem;

            @media only screen and (max-width: 750px){
                margin-right: 0;
            }
        }

        &-01{
            position: relative;
        }
        &-02{
            position: relative;
        }

        &-03{
            position: relative;
        }
        &-04{
            position: relative;
        }

        &:hover {
            transform: translateY(-1rem);
            box-shadow: .3rem .3rem 5rem rgba(0,0,0,.1);
        }
        
    }

    &__icon {
        position: absolute;
        top:-2rem;
        left:2rem;
        padding: 2.5rem;
        
        border-radius: 4px;
        box-shadow: var(--shadow-light);

        
        @media only screen and (max-width: 500px){
            top:-2rem;
            left:1rem;
        }

        @media only screen and (max-width: 400px){
            top:-2rem;
            left:2.5rem;
        }


        &-1 {
            background-image: linear-gradient(to right, #fe9c15, #fc960e)
        }
        &-2 {
            background-image: linear-gradient(to right, #5ab763, #4eaa57);
        }
        &-3 {
            background-image: linear-gradient(to right, #eb4947, #eb423d);
        }
        &-4 {
            background-image: linear-gradient(to right, #19bbd0, #13b3c9);
        }

        &-svg {
            width: 3.5rem;
            height: 3.5rem;
            fill: #fff;
        }
    }

    &__text-main {
        width: 100%;
        text-align: right;
        padding-bottom: 2rem;
        border-bottom: 1px solid #f4f2f2;

        & > * {
            display: inline-block;
        }

        &-1 {
            font-size: 1.3rem;
            color: var(--color-grey-dark-2);

            @media only screen and (max-width: 500px){
                font-size: 1.4rem;
            }

            @media only screen and (max-width: 400px){
                font-size: 1.5rem;
            }

        }

        &-2 {
            padding: .5rem 0 1rem 0;
            font-size: 2.5rem;

            @media only screen and (max-width: 500px){
                padding: 1.5rem 0 1rem 0;
                font-size: 3rem;
            }

            @media only screen and (max-width: 400px){
                padding: 1.5rem 0 1rem 0;
                font-size: 3.5rem;
            }
        }
    }


    &__text-sub {
        width: 100%;
        text-align: left;
        padding-top: 1rem;
        color: var(--color-grey-dark-3);

        @media only screen and (max-width: 500px){
            font-size: 1.5rem;
        }

        @media only screen and (max-width: 400px){
            font-size: 1.3rem;
        }

    }

}



.dash-stat{
    min-height: 35rem;
    background-color: #fff;
    box-shadow: .1rem .1rem 1rem rgba(0,0,0,.1);
    border-radius: 4px;
    position: relative;
    padding: 1.5rem;
    margin-bottom: 8rem;

    display: flex;

    &__icon {
        position: absolute;
        top:-2rem;
        left:2rem;
        padding: 2rem;
        
        border-radius: 4px;
        box-shadow: var(--shadow-light);
        background-image: linear-gradient(to right, #5ab763, #4eaa57);
        
        &-svg {
            width: 2.3rem;
            height: 2.3rem;
            fill: #fff;
        }
    }

    &__content {
        display: flex;
        
        width: 100%;

        @media only screen and (max-width: 650px){
            flex-direction: column;
        }
    
    }



    &__list {
        flex: 0 0 40%;
        margin-right: 4rem;
        
        @media only screen and (max-width: 650px){
            margin-right: 0;
        }
    }

    &__map {
        // border: 1px solid #000;
        flex: 1;
        padding: 3rem;
        background-color: #ccc;
        border-radius: 3px;

        @media only screen and (max-width: 650px){
            order:-1;
            margin-bottom: 2rem;
            padding-bottom: 26rem;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
        border-top: 1px solid #ccc;
        text-align: left;
        align-content: flex-start;

        @media only screen and (max-width: 650px){
            font-size: 1.4rem;
        }
 
    }

    &__heading {
        font-size: 1.7rem;
        margin-left: 8.5rem;
        margin-bottom: 2rem;
        color: var(--color-grey-dark-1);

        @media only screen and (max-width: 650px){
            margin-left: 0;
        }

        @media only screen and (max-width: 400px){
            font-size: 2.5rem;
            text-align: center;
        }
    }
}

.dash-bot {
    display: flex;
    justify-content: space-around;
    // height: 41rem;
    margin-bottom: 2rem;
    margin-top: 10rem;

    // @media only screen and (max-width: 850px){
    //     flex-direction: column;
    //     // height: 140rem;
    //     margin-top: 11rem;
    //     font-size: 1.3rem;
    // }


    @media only screen and (max-width: 650px){
        flex-direction: column;
        // height: 160rem;
        font-size: 1.4rem;
    }


    &__item {
        flex: 1;

        background-color: #fff;
        border-radius: 4px;
        box-shadow: 1px 1px 8px rgba(0,0,0,.2);

        position: relative;

        &:not(:first-child){
            @media only screen and (max-width: 650px){
                margin-top: 6rem;
            }
        }


        &:not(:last-child) {
            margin-right: 4rem;

            @media only screen and (max-width: 650px){
                flex:1 ;
                margin-right: 0;
                margin-bottom: 2.5rem;
            }
        }

        &-header {
            position: absolute;
            top:-10%;
            left: 50%;
            width: 90%;
            height: 10rem;
            border-radius: 4px;
            padding: 1.2rem;
            color:#fff;
            background-color: #eb423d;
            transform: translateX(-50%);

            display: flex;
            flex-direction: column;


            &-1 {
                background-image: linear-gradient(to right, #1ec0d5, #02adc1);
            }
            &-2 {
                background-image: linear-gradient(to right, #fda124, #fb8d02);
            }
            &-3 {
                background-image: linear-gradient(to right, #ec4d4a, #e63a36);
            }
        }
    }

    &__text-1 {
        font-size: 1.4rem;
        display: block;

        @media only screen and (max-width: 400px){
            font-size: 1.7rem;
        }
    }
    &__text-2 {
        font-size: 3rem;
        display: block;
        text-align: right;
        padding: 1rem 0 1rem 1rem;

        @media only screen and (max-width: 400px){
            font-size: 3rem;
        }
    }

    &__stat {
        padding: 2.5rem;
        margin-top: 6rem;

        display: flex;
        flex-direction: column;
    }

    // &__list-item  {
    //     display: flex;
    //     justify-content: space-between;
    //     padding: 1.5rem;
    //     border-top: 1px solid #ccc;
    //     text-align: left;
    //     align-content: flex-start;

    // }
}
