$color-primary: #55c57a;
$color-light: #7ed56f;
$color-primary-dark: #28b485; 

$color-primary1: #eb2f64;
$color-primary-light1: #FF3366;
$color-primary-dark1: #BA2650;

.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    border-bottom: var(--line);
    background-color: #ccc;
    color:#fff;
    font-weight: 300;

    background-image: linear-gradient(to right bottom, rgba($color-primary, .6), rgba($color-primary-dark, .6)), url('../../../assets/img/sea.jpg');
    background-size: cover;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);

    @media only screen and (max-width: 1030px){
        height: 85vh;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    @media only screen and (max-width: 500px){
        height: 75vh;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

    @media only screen and (max-width: 450px){
        height: 75vh;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    }



    &__headline {
        font-size: 10rem;

        @media only screen and (max-width: 500px){
            font-size: 8.5rem;
        }

        @media only screen and (max-width: 330px){
            font-size: 7rem;
        }
    }

    &__subheadline {
        display: inline-block;
        font-size: 5rem;
        letter-spacing: .25rem;

        @media only screen and (max-width: 500px){
            font-size: 3.5rem;
        }

        @media only screen and (max-width: 330px){
            font-size: 3rem;
        }
    }

    &__search {
        margin-top: 3rem;
        position: relative;

        display: flex;

        @media only screen and (max-width: 500px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        & input {
            padding: 1.5rem 2.5rem 1.5rem 6rem;
            border-radius: 100px;
            border: 1px solid transparent;
            // text-align: center;
            transition: all .3s;
        }

        & input:focus {
            outline: none;
            // border: 1px solid #ccc;
            box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.4);

            // transform: translateY(-.5rem);
        }

        & button {
            outline: none;

            @media only screen and (max-width: 500px){
                margin-top: 2rem;
            }
        }

    } 
    
    &__sub-icon {
        height: 2.3rem;
        width: 2.3rem;
        position: absolute;
        top:1.2rem;
        left: 2.3rem;
        fill: var(--color-grey-dark-1);

        @media only screen and (max-width: 450px){
            top:1.4rem;

        }
    }
}

.btn-subscribe {
    padding: 1.6rem 3rem;
    border-radius: 100px;
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, $color-primary1, $color-primary-dark1);
    margin-left: 1.5rem;
    transition: all .3s;
    // text-transform: lowercase
    cursor: pointer;
    backface-visibility: hidden;
    
    animation: pulsate 1s infinite;

    &:hover {
        background-image: linear-gradient(to left, $color-primary1, $color-primary-dark1);
        
    }
}
