// .tours-list {
//     margin-top: 5rem;
// }

.tour-card {
    border-radius: 3px;
    height: 100%;
    // border: 1px solid #ccc;
    // background-color: #fff;

    display: flex;
    flex-direction: column;

    box-shadow: 0 4px 8px rgba(0,0,0, .15);
    transition: all .3s;

    &:hover{
        box-shadow: 0 7px 20px rgba(0,0,0, .2);
        transform: translateY(-1rem);
    }

    &__image {
        position: relative;

        height: 50%;
        width: 100%;
        // border: 1px solid #ccc;
        background-color: #999;
        border-radius: 3px 3px 0 0;
    }

    &__image-1 {
        height: 100%;
        width: 100%;
    }

    &__icons-heart {
        position: absolute;
        top:.7rem;
        right: .5rem;
        height: 2.5rem;
        width: 2.5rem;
        fill: #eb2f64;
        margin-right: 1rem;
        cursor: pointer;

        &:hover {
            // fill: ;
        }

        @media only screen and (max-width: 950px){
            height: 3.5rem;
            width: 3.5rem;
            top:1rem;
            right: .7rem;
        }

        @media only screen and (max-width: 500px){
            height: 5.5rem;
            width: 5.5rem;
            top:1rem;
            right: .7rem;
        }

        
    }

    &__content {
        padding: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__icons {
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--color-primary);
        margin-right: 1rem;

        @media only screen and (max-width: 800px){
            height: 2rem;
            width: 2rem;
        }

        @media only screen and (max-width: 500px){
            height: 2.3rem;
            width: 2.3rem;
        }
    }

    &__schedule {
        display: flex;
        margin: 1rem 0;
        font-size: 1.4rem;
        align-items: center;
        color:#444;

        // &-start, &-end {
        //     width: 50%;
        //     font-size: 1.4rem;
        //     color:#444;
        // }

        @media only screen and (max-width: 800px){
            font-size: 1.6rem;
        }
        
    }

    &__title {
        font-size: 1.7rem;
        // font-weight: 300;
        color: #444;

        @media only screen and (max-width: 900px){
            font-size: 2rem;
            padding: 1rem 0;
        }
    }


    &__group-detail {
        display: flex;
    }
    
    &__duration {
        width: 50%;
        font-size: 1.4rem;
        padding: .5rem 0;
        color: #444;

        display: flex;
        align-items: center;

        @media only screen and (max-width: 800px){
            font-size: 1.6rem;
        }
    }

    &__seats {
        width: 50%;
        font-size: 1.4rem;
        padding: .5rem 0;
        color: #444;

        display: flex;
        align-items: center;

        @media only screen and (max-width: 800px){
            font-size: 1.6rem;
        }
    }

    &__buy-section {
        padding: 1.3rem 0 2rem 0;
        text-align: center;

        @media only screen and (max-width: 800px){
            font-size: 1.6rem;
        }
    }

    &__buy-section-btn {
        padding: 1rem 2rem;
        background-color: var(--color-primary);
        color: #fff;
        width: 100%;
        border: none;
        cursor: pointer;
    }
}