//Layouts

$bp-largest: 75em;  //1200px;
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em;    //900px;
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
$bp-sm-mb: 26.85em; //430px


.admin-content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}


.main-content {
    background-color: var(--color-grey-light-1);
    min-height: 80rem;
    flex: 1;

    padding: 3rem;
}

